/* reset.css */

/* 清除默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 元素显示为块级 */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section {
  display: block;
}
